//font imports
@import url('https://fonts.googleapis.com/css?family=Bangers|Exo+2|Kanit|Reem+Kufi');

//font selection
$header-font: 'Kanit', sans-serif;
$num-font: 'Exo 2', sans-serif;
$p-font: 'Reem Kufi', sans-serif;


//colors
$grey: #333333;

// nav colors
$nav-background: $grey;
$nav-text-color: white;

//clock variables
$clock-text-color: white;
$clock-bg-color: #b5d0e2;
$clock-border-color: #2099e8;

//bkg pattern
$bg-img: url('../assets/img/confectionary.png');





